.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #defcfe;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  background-color: #0da3ab;
  font-family: 'Raleway', sans-serif;
}

.navbar .nav > li > a {
    float: none;
    text-decoration: none;
    color:  #FFF;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #defcfe;
  color: #5C5C5C;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  color: #FFF;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFF;
}

.featurette-divider {
    margin: 80px 0;
    margin-left: auto;
    margin-right: auto;
}

hr {
width: 60%;
height: 1px;
margin-left: auto;
margin-right: auto;
background-color:#0da3ab;
color:#0da3ab;
border: 0 none;
}

a {
  color: #fc6173;
  text-decoration: none;
}

a:hover, a:focus {
  color: #d50820;
  text-decoration: none;
}

.panel-default {
  border-color: #0da3ab;
  width: auto;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #defcfe;
  border-color: #0da3ab;
}

.panel-title>a, .panel-title>small, .panel-title>.small, .panel-title>small>a, .panel-title>.small>a {
  color: #303030;
}

footer {
	display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    -o-background-size: auto;
    background-color: #defcfe;
    font-family: 'Abel', sans-serif;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-bottom: 0px;
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.featurette-heading {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h3, .h3 {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


.carousel-caption {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 20px;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  margin: 40px;
  background-color: #000;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  color: #FFF;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 70px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 70px;
}

.panel-body {
  padding: 15px;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.panel-title:hover{
  font-weight: bold;
}

.panel-title{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.btn-primary {
  color: #fff;
  background-color: #fc6173;
  border-color: #fc6173;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #d50820;
  border-color: #d50820;
}

.btn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}